
{% extends "base.html" %}

{% block content %}

<div class="container mt-3">

    <h2 class="mb-4">Welcome to Project Eden</h2>
    <p class="lead">The project aims to create a structured platform for daily diary entries, skill tracking, rank requirements, and more, replacing traditional notebooks. The theme is inspired by my favorite Pokémon, with Litten representing someone dear to me.</p>
    

<h3 class='mt-5'> Goal for the web application </h3>
<ul class="list-group">
    <li class="list-group-item list-group-item-success">[PsyDuck]: Able to Create, delete, update, view <b>Diary</b> entry </li>
    <li class="list-group-item">[Chansey]: Able to Create, delete, update, view <b>Tasks</b>
    <li class="list-group-item">[Snorlax]: Able to Create, delete, update, view <b>Daily Routine</b>
    <li class="list-group-item">[Disguise]: Able to Select <b>skills</b>, level them up based on <b>tasks</b> completed</li>
    <li class="list-group-item">[Machamp]: Able to view <b>rank</b> and see what requirement needed to be complted to meet ranking up </li>
    <li class="list-group-item">[Litten]: Able to view <b>profile<b> with statistics</li>
</ul>


<div class="container mt-5">
    <h2 class="mb-4">Rank Requirements</h2>
    <p class='lead'>The purpose of our demanding requirements is to show that you're committed to self-improvement in various areas—from intelligence to religion to skills. This rank system proves your ability to excel in diverse aspects of life, showcasing your dedication and capability for growth.</p>
    <p class='lead'>This is the first version of the requirement it will be updated for improvements</p>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Rank: E</h5>
                    <p class="card-text">Requirements:</p>
                    <ul class="list-group">
                        <li class="list-group-item">At least 10 hours per Skill</li>
                        <li class="list-group-item">100 hours on a focused Skill</li>
                        <li class="list-group-item">5 Outcome / production per Skill</li>
                        <li class="list-group-item">Complete 5 challenges</li>
                        <li class="list-group-item">Memorize Sorat al Mulk</li>
                        <li class="list-group-item">Memorize Morning and Night DUA</li>
                        <li class="list-group-item">Save up 5k</li>
                        <li class="list-group-item">Volunteer</li>
                        <li class="list-group-item">Read 5 Books</li>
                        <li class="list-group-item">Understand the basics of chess</li>
                        <li class="list-group-item">Learn the basics of a new language</li>
                        <li class="list-group-item">Learn the History of the world</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Rank: D</h5>
                    <p class="card-text">Requirements:</p>
                    <ul class="list-group">
                        <li class="list-group-item">At least 50 hours per Skill</li>
                        <li class="list-group-item">500 hours on a focused Skill</li>
                        <li class="list-group-item">15 Outcome / production per Skill</li>
                        <li class="list-group-item">Profit from skills</li>
                        <li class="list-group-item">Complete 10 challenges</li>
                        <li class="list-group-item">Memorize Sorat al kahf</li>
                        <li class="list-group-item">Save up 10k</li>
                        <li class="list-group-item">Invest in National Bond</li>
                        <li class="list-group-item">Community Service</li>
                        <li class="list-group-item">Read 10 Books</li>
                        <li class="list-group-item">Understand beyond the basics of chess</li>
                        <li class="list-group-item">Chess Rating Range 1200-1400</li>
                        <li class="list-group-item">Learn the beyond the basics of a new language</li>
                        <li class="list-group-item">Continuous Learning: Enroll in a course</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Rank: C</h5>
                    <p class="card-text">Requirements:</p>
                    <ul class="list-group">
                        <li class="list-group-item">At least 100 hours per Skill</li>
                        <li class="list-group-item">1000 hours on a focused Skill</li>
                        <li class="list-group-item">50 Outcome / production per Skill</li>
                        <li class="list-group-item">Profit from skills</li>
                        <li class="list-group-item">Complete 20 challenges</li>
                        <li class="list-group-item">Memorize a chapter</li>
                        <li class="list-group-item">Save up 15k</li>
                        <li class="list-group-item">Have an investment in National Bond</li>
                        <li class="list-group-item">Buy stocks</li>
                        <li class="list-group-item">Community Service</li>
                        <li class="list-group-item">Read 15 Books</li>
                        <li class="list-group-item">Join a chess Competition</li>
                        <li class="list-group-item">Chess Rating Range 1400-1600</li>
                        <li class="list-group-item">Fluent in the new Language</li>
                        <li class="list-group-item">Continuous Learning: Attend a Professional Workshop</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Rank: B</h5>
                    <p class="card-text">Requirements:</p>
                    <ul class="list-group">
                        <li class="list-group-item">At least 150 hours per Skill</li>
                        <li class="list-group-item">2,000 hours on a focused Skill</li>
                        <li class="list-group-item">100 Outcome / production per Skill</li>
                        <li class="list-group-item">Profit from skills</li>
                        <li class="list-group-item">Complete 50 challenges</li>
                        <li class="list-group-item">Memorize a chapter</li>
                        <li class="list-group-item">Save up 30k</li>
                        <li class="list-group-item">Have an investment in National Bond</li>
                        <li class="list-group-item">Have Stocks</li>
                        <li class="list-group-item">Invest in a real estate</li>
                        <li class="list-group-item">Community Service</li>
                        <li class="list-group-item">Read 30 Books</li>
                        <li class="list-group-item">Join a chess Competition</li>
                        <li class="list-group-item">Chess Rating Range 1600-1800</li>
                        <li class="list-group-item">Fluent in the new Language</li>
                        <li class="list-group-item">Continuous Learning: Attend a Professional Workshop</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Rank: A</h5>
                    <p class="card-text">Requirements:</p>
                    <ul class="list-group">
                        <li class="list-group-item">At least 300 hours per Skill</li>
                        <li class="list-group-item">5,000 hours on a focused Skill</li>
                        <li class="list-group-item">200 Outcome / production per Skill</li>
                        <li class="list-group-item">Profit from skills</li>
                        <li class="list-group-item">Complete 75 challenges</li>
                        <li class="list-group-item">Memorize a chapter</li>
                        <li class="list-group-item">Save up 45k</li>
                        <li class="list-group-item">Have an investment in National Bond</li>
                        <li class="list-group-item">Have Stocks</li>
                        <li class="list-group-item">Have real estate investment</li>
                        <li class="list-group-item">Invest in a startup</li>
                        <li class="list-group-item">Community Service</li>
                        <li class="list-group-item">Read 45 Books</li>
                        <li class="list-group-item">Join a chess Competition</li>
                        <li class="list-group-item">Chess Rating Range 1800-2200</li>
                        <li class="list-group-item">Fluent in the new Language</li>
                        <li class="list-group-item">Continuous Learning: Attend a Professional Workshop</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Rank: S</h5>
                    <p class="card-text">Requirements:</p>
                    <ul class="list-group">
                        <li class="list-group-item">At least 500 hours per Skill</li>
                        <li class="list-group-item">10,000 hours on a focused Skill</li>
                        <li class="list-group-item">500 Outcome / production per Skill</li>
                        <li class="list-group-item">Profit from skills</li>
                        <li class="list-group-item">Complete 100 challenges</li>
                        <li class="list-group-item">Memorize a chapter</li>
                        <li class="list-group-item">Save up 45k</li>
                        <li class="list-group-item">Have an investment in National Bond</li>
                        <li class="list-group-item">Have Stocks</li>
                        <li class="list-group-item">Have real estate investment</li>
                        <li class="list-group-item">Have investment in startup</li>
                        <li class="list-group-item">Community Service</li>
                        <li class="list-group-item">Read 100 Books</li>
                        <li class="list-group-item">Join a chess Competition</li>
                        <li class="list-group-item">Chess Rating Range 2200+</li>
                        <li class="list-group-item">Fluent in the new Language</li>
                        <li class="list-group-item">Continuous Learning: Attend a Professional Workshop</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}